

body{
    background-color:grey;
    text-align: center;
    /*font-size: 25px; /* Példa méret: 20 pixel */
    margin: 0;
}

header { /*fejléc*/
    display: flex;
    background-color: rgb(39, 40, 40);
    justify-content: space-between; /*FIXME:nem pontos a középre illesztés*/
    align-items: center;
    padding: 12px 1.5%; /*allul fellül px jobbra ballra % -os a behúzás*/
    margin: 0;
}


header .h_title{ /* fejléc cards cím*/
    font-weight: 500;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
    
}

header .h_text { /*fejléc szöveg*/
    font-weight: 500;
    font-size: 16px;
    color: rgb(242, 87, 79);
    text-decoration: none;
    align-items: center;
    

}

header .h_button { /*fejléc main page custum gomb*/
    padding: 9px 24px; /*FIXME:gomb szövegtől függően eltolja a töle balra lévő itemet*/
    background-color: greenyellow;
    color:black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bolder;
    
    
}

.h_button:hover { /*ha ráviszem az egeret kijelöli*/
    background-color: aqua;
    
}

a{
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

h1{
    color:black;
}



/* card container innen */
/* <--------------------------------------------------------------------------------> */

.card-container {
    display: flex;
    flex-wrap: wrap; /*képernyő szélén töri*/
    justify-content: center;
    align-items: end;  
}

.image {
    width: 200px; /* szélesség */
    height: auto; /* magasság */
    margin: 0px 3px 0px 3px; /*minden irányba rés*/
    object-fit: contain; /* igazítás*/
    border: 2px solid black; /* Fekete szegély hozzáadása */
}

.header-container{
    display: flex;
}

.name{
    width: 140px;                                           /*   szélesség                  */
    height: auto;                                           /*   magasság                   */
    margin: 10px 0px 0px 3px;  /*fel job le bal*/           /*   minden irányba külső tér   */ 
    padding-top: 5px;                                       /*   belső felső tér            */
    padding-left: 10px;                                     /*   belső bal oldali tér       */
    color: azure;                                         /*   szöveg színe               */
    background-color: rgb(39, 40, 40);                    /*   háttér színe               */
    
    border-left: 2px solid rgb(255, 255, 255);            /*   szegély                    */
    border-right: none;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: none;

    text-align: left;                                       /*   szöveg igazítás            */

    overflow: hidden; /* A túlcsorduló tartalom elrejtése */
    white-space: nowrap; /* A szöveg több sorba törésének megakadályozása */
    text-overflow: ellipsis; /* Túlcsorduló szöveg esetén "..." megjelenítése */
    
}

.series-name{

    width: 190px;                                           /*   szélesség                  */
    height: auto;                                           /*   magasság                   */
    font-size: 12.5px;                                      /*   betűméret                  */
    margin: 0px 3px 0px 3px; /*fel job le bal*/             /*   minden irányba külső tér   */
    padding-bottom: 5px;                                    /*   belső felső tér            */
    padding-left: 10px;                                     /*   belső bal oldali tér       */
    color: rgb(133, 243, 255);                            /*   szöveg színe               */
    background-color: rgb(39, 40, 40);                    /*   háttér színe               */
    
    border-left: 2px solid rgb(255, 255, 255);            /*   szegély                    */
    border-right: 2px solid rgb(255, 255, 255);
    border-top: none;
    border-bottom: 2px solid rgb(255, 255, 255);

    text-align: left;                                       /*   szöveg igazítás            */

    overflow: hidden; /* A túlcsorduló tartalom elrejtése */
    white-space: nowrap; /* A szöveg több sorba törésének megakadályozása */
    text-overflow: ellipsis; /* Túlcsorduló szöveg esetén "..." megjelenítése */

}

.rarity{

    width: 50px;                                            /*   szélesség                  */
    height: auto;                                           /*   magasság                   */
    margin: 10px 3px 0px 0px;   /*fel job le bal*/          /*   minden irányba külső tér   */
    padding-top: 5px;                                       /*   belső felső tér            */
    color: rgb(255, 255, 110);                            /*   szöveg színe               */
    background-color: rgb(39, 40, 40);                    /*   háttér színe               */
    
    border-left: none;                                      /*   szegély                    */
    border-right: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: none;

    text-align: center;                                     /*   szöveg igazítás            */

}