

body{
    background-color:grey;
    text-align: center;
    /*font-size: 25px; /* Példa méret: 20 pixel */
    margin: 0;
}

header { /*fejléc*/
    display: flex;
    background-color: rgb(39, 40, 40);
    justify-content: space-between; /*FIXME:nem pontos a középre illesztés*/
    align-items: center;
    padding: 12px 1.5%; /*allul fellül px jobbra ballra % -os a behúzás*/
    margin: 0;
}


header .h_title{ /* fejléc cards cím*/
    font-weight: 500;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
    
}

header .h_text { /*fejléc szöveg*/
    font-weight: 500;
    font-size: 16px;
    color: rgb(242, 87, 79);
    text-decoration: none;
    align-items: center;
    

}

header .h_button { /*fejléc main page custum gomb*/
    padding: 9px 24px; /*FIXME:gomb szövegtől függően eltolja a töle balra lévő itemet*/
    background-color: greenyellow;
    color:black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bolder;
    
    
}

.h_button:hover { /*ha ráviszem az egeret kijelöli*/
    background-color: aqua;
    
}

a{
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

button {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

h1{
    color:black;
}

/*filter bar*/
/* <--------------------------------------------------------------------------------> */

.filter-bar {
    background-color: rgb(75, 75, 75);
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap; /*képernyő szélén töri*/
    justify-content: space-between;
    align-items: end;  
}

.filter {
    font-size: 25px;

    color: greenyellow; /* greenyellow */
    font-weight: bold; /* kiemelés */
    text-shadow: 0 0 2px rgb(0, 0, 0); /* fehér szegély */
    /*-webkit-text-stroke: 1px rgb(0, 0, 0); /* fehér szegély (webkit böngészőkön) */
}

/* card container innen */
/* <--------------------------------------------------------------------------------> */

:root{
    --card-outerheader-color: rgb(255, 255, 255); 
    --card-innerheader-color: rgb(40, 40, 40);      /*rgb(40, 40, 40)*/
}

.title-text {
    margin-left: auto;
    padding-left: 35px;
}

.collapse-button {
    margin-left: auto;
}

.set-title{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 30px;
    font-weight: bold;
    background-color: white;
    text-shadow: 2px 0px 2px greenyellow;
    align-content: center; 
    margin: 40px 0 0 0;

    flex-basis: 100%
}

.collapsed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease; /* Animáció hozzáadása a sima összecsukáshoz */
}


.card-container {
    display: flex;
    flex-wrap: wrap; /*képernyő szélén töri*/
    justify-content: center;
    align-items: end;  
}

.image {
    width: 200px; /* szélesség */
    height: auto; /* magasság */
    margin: 0px 3px 0px 3px; /*minden irányba rés*/
    object-fit: contain; /* igazítás*/
    border: 2px solid black; /* Fekete szegély hozzáadása */
}

.header-container{
    display: flex;
}

.name{
    width: 140px;                                           /*   szélesség                  */
    height: auto;                                           /*   magasság                   */
    margin: 10px 0px 0px 3px;  /*fel job le bal*/           /*   minden irányba külső tér   */ 
    padding-top: 5px;                                       /*   belső felső tér            */
    padding-left: 10px;                                     /*   belső bal oldali tér       */
    color: azure;                                         /*   szöveg színe               */
    background-color: var(--card-innerheader-color);                    /*   háttér színe               */

    text-align: left;                                       /*   szöveg igazítás            */

    border-left: 2px solid var(--card-outerheader-color);            /*   szegély                    */
    border-right: none;
    border-top: 2px solid var(--card-outerheader-color);
    border-bottom: none;

    overflow: hidden; /* A túlcsorduló tartalom elrejtése */
    white-space: nowrap; /* A szöveg több sorba törésének megakadályozása */
    text-overflow: ellipsis; /* Túlcsorduló szöveg esetén "..." megjelenítése */
    
}

.series-name{

    width: 190px;                                           /*   szélesség                  */
    height: auto;                                           /*   magasság                   */
    font-size: 12.5px;                                      /*   betűméret                  */
    margin: 0px 3px 0px 3px; /*fel job le bal*/             /*   minden irányba külső tér   */
    padding-bottom: 5px;                                    /*   belső felső tér            */
    padding-left: 10px;                                     /*   belső bal oldali tér       */
    color: rgb(133, 243, 255);                            /*   szöveg színe               */
    background-color: var(--card-innerheader-color);        /*   háttér színe               */
    
    border-left: 2px solid var(--card-outerheader-color);            /*   szegély                    */
    border-right: 2px solid var(--card-outerheader-color);
    border-top: none;
    border-bottom: 2px solid var(--card-outerheader-color);

    text-align: left;                                       /*   szöveg igazítás            */

    overflow: hidden; /* A túlcsorduló tartalom elrejtése */
    white-space: nowrap; /* A szöveg több sorba törésének megakadályozása */
    text-overflow: ellipsis; /* Túlcsorduló szöveg esetén "..." megjelenítése */

}

.rarity{

    width: 50px;                                            /*   szélesség                  */
    height: auto;                                           /*   magasság                   */
    margin: 10px 3px 0px 0px;   /*fel job le bal*/          /*   minden irányba külső tér   */
    padding-top: 5px;                                       /*   belső felső tér            */
    color: rgb(255, 255, 110);                            /*   szöveg színe               */
    background-color: var(--card-innerheader-color);                    /*   háttér színe               */
    
    border-left: none;                                      /*   szegély                    */
    border-right: 2px solid var(--card-outerheader-color);
    border-top: 2px solid var(--card-outerheader-color);
    border-bottom: none;

    text-align: center;                                     /*   szöveg igazítás            */

}